<!-- BEGIN HEADER SEARCH BOX -->
<form id="search-form" class="search-form" data-url="{% url 'search' %}" action="javascript:getSearch({% url 'search' %});" method="GET">
    <div class="input-group">
        <input id="search-input" type="text" class="form-control" style="transition:none;" placeholder="Search" name="query">
        <span class="input-group-btn">
            <a href="javascript:;" class="btn submit">
                <i class="icon-magnifier"></i>
            </a>
        </span>
    </div>
</form>
<!-- END HEADER SEARCH BOX -->
