{% extends 'web/map.html' %}


{% block css %}
    {{ block.super }}
{% endblock %}


{% block partials %}
    {{ block.super }}

    {% include 'account/signup.html' %}
    {% if status %}
        {% include 'account/status.html' %}
    {% endif %}
    {% include 'account/signin.html' %}
    {% include 'account/signout.html' %}
    {% include 'account/reset.html' %}
    {% include 'account/update.html' %}
{% endblock %}


{% block js %}
    {{ block.super }}

    <script src="/static/account/js/signup.js" type="text/javascript"></script>
    {% if status %}
        <script src="/static/account/js/status.js" type="text/javascript"></script>
    {% endif %}
    <script src="/static/account/js/signin.js" type="text/javascript"></script>
    <script src="/static/account/js/signout.js" type="text/javascript"></script>
    <script src="/static/account/js/reset.js" type="text/javascript"></script>
    <script src="/static/account/js/update.js" type="text/javascript"></script>
{% endblock %}
